@import '../variables.scss';

.w-full {
  width: 100%;
}
.h-full {
  height: 100%
}
.h-auto {
  height: auto;
}
.w-50 {
  width: 50%;
}

.font-bold {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}

.fr {
  float: right;
}
.fl {
  float: left;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rounded-sm	{
  border-radius: 0.125rem;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg	{
  border-radius: 0.5rem;
} 

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.shadow-lg	{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.border {
  border: 1px solid $boderColor;
}

.bg-white {
  background-color: white;
}

@media (min-width: 992px) {
  .md-block {
    display: block;
  }
}