@import '../variables.scss';

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 13px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-xl {
  font-size: 18px;
}

.text-primary {
  color: $primary;
}
.text-secondary {
  color: $panGreen;
}
.text-danger {
  color: $red;
}
.hover-primary:hover {
  color: $primary;
}

.text-filter {
  color: $filterColor;
}

.text-center {
  text-align: center;
}