// u - unity
// https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
.u-paginationWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.u-inputWidth {
  width: 220px;
}

.u-rotate180 {
  transform: rotate(180deg);
}

.u-formFilter {
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));
  gap: 0.5rem;

  &--left {
    grid-column: span 2/span 2;
  }
  &--right {
    grid-column: span 10/span 10;
  }
}

.u-inputNumber-xs {
  width: 40px;
  
  input {
    height: 28px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.u-noData {
  font-style: italic;
  font-size: 16;
  text-align: center;
}