// u - unity
// https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
.u-paginationWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.u-inputWidth {
  width: 220px;
}
